# Python virtual environments
.venv/
venv/
ENV/
env/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter / notebook
.ipynb_checkpoints/

# OS / system files
.DS_Store
Thumbs.db

# Large model/data files (optional: if too big for GitHub)
*.csv
*.parquet
*.pkl
*.h5
*.joblib
src/validate/geo_files/*.shp